<table hx-get="/setting-definition/table" hx-trigger="update_definition_table from:body" hx-swap="outerHTML">
    <thead>
    <tr>
        <th> key </th>
        <th> type </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${settingDefinitions.empty}">
        <td colspan="2"> No definition Available </td>
    </tr>
    <tr th:each="settingDefinition : ${settingDefinitions}">
        <td><span th:text="${settingDefinition.key}"> id </span></td>
        <td><span th:text="${settingDefinition.type}"> id </span></td>
    </tr>
    </tbody>
</table>
