.msw-dropdown {
    border: blue 1px solid;
    background-color: #999999;
}
.msw-selecteditem{
    background-color: lightseagreen;
    border-radius: 0.25rem;
    padding: 1rem;
}
.msw-searchbox {

}
