<form hx-post="/setting" hx-history="false" hx-swap="outerHTML">


    <label for="key">key</label>

    <select name="settingDefinitionId" id="key">
        <option th:each="settingDefinition : ${settingsDefinitions}"
                th:value="${settingDefinition.id}" th:text="${settingDefinition.key}"></option>
    </select>


    <label for="countryId">Country</label>

    <select name="countryId" id="countryId">
        <option th:each="country : ${countries}"
                th:value="${country.id}" th:text="${country.label}"></option>
    </select>

    <label for="partnerId">partnerId</label>

    <select name="partnerId" id="partnerId">
        <option th:each="partner : ${partners}"
                th:value="${partner.id}" th:text="${partner.name}"></option>
    </select>

    <label for="profileId">profileId</label>

    <select name="profileId" id="profileId">
        <option th:each="profile : ${profiles}"
                th:value="${profile.id}" th:text="${profile.name}"></option>
    </select>
    <label for="value">value</label>
    <input id="value" type="text" name="value"/>
    <button>submit</button>


 <!--
    <td><span th:text="${settingDefinition.countryId}"> countryId </span></td>
    <td><span th:text="${settingDefinition.partnerId}"> partnerId </span></td>
    <td><span th:text="${settingDefinition.profileId}"> profileId </span></td>
    <td><span th:text="${settingDefinition.SettingDefinitionId}"> SettingDefinitionId </span></td>
    <td><span th:text="${settingDefinition.value}"> value </span></td>
   -->
</form>
