<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/htmx.org/1.9.4/dist/htmx.js"></script>
    <link rel="stylesheet" href="/webjars/picocss__pico/1.5.10/css/pico.css"/>

</head>
<body>

<div  class="grid"   >
    <a href="/"  >Go To Page 1</a>

    <a href="/setting-definition" >setting definition</a>
    <a href="/setting" >settings</a>
</div>

<main id="mainContent" class="container">
    <div th:insert="~{${fragment}}"></div>
</main>
</body>
</html>
